.invite-popup-container {
  position: relative;
  .invite-popup-close-button {
    position: absolute;
    top: -30px;
    right: -30px;
    cursor: pointer;
    & :active {
      transform: scale(0.9);
      transition: transform 0.1s ease-in;
    }
  }
  .invite-popup-content-wrapper {
    user-select: none;
    width: 70%;
    height: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & > h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
    }
    & > p {
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 150%;
      text-align: center;
      color: #ffffff;
    }
    .invite-popup-copyfield-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 15px;
      .invite-popup-copybutton {
        min-width: 30%;
        background-color: #555aff;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #ffffff;
        padding: 14px;
        border-radius: 20px;
        text-align: center;
        margin-left: -30px;
        cursor: pointer;
        &:active {
          transform: scale(1.1);
          transition: transform 0.1s ease-in;
        }
      }
      .invite-popup-copyfield {
        max-width: 70%;
        background-color: #fff;
        border-radius: 20px;
        padding-left: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
        padding: 14px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        color: #c4c4c4;
      }
    }
  }
}
.invite-popup-modal-wrapper {
  min-width: 30vw !important;
  min-height: 40vh !important;
  background: transparent;
  border: none;
}
