@import '@assets/css/_variables.scss';

.navbar {
    .nav__select {
        margin-bottom: 0;

        .form-select {
            background: #EFF0F7;
            border: none;
            border-radius: 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-image: url('@src/assets/images/arrow-select.svg');
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: bottom;

            #lang option[id="vi"] {
                background-image: url('@src/assets/images/vietnam-flag.svg');
                background-repeat: no-repeat;
                background-position-x: 100%;
                background-position-y: bottom;
                -webkit-appearance: none;
                -moz-appearance: none;
            }

            #lang option[id="en"] {
                background-image: url('@src/assets/images/us-flag.svg');
                background-repeat: no-repeat;
                background-position-x: 100%;
                background-position-y: bottom;
                -webkit-appearance: none;
                -moz-appearance: none;
            }


            &:hover,
            &:focus,
            &:active {
                border: 1px solid var(--primaryColor);
            }

        }


        .select__language {
            width: 80px;

            .ant-select-selector {}

            .ant-select-arrow {
                color: var(--primaryColor);
                font-weight: 700;
            }

        }
    }

}