$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 767px;
$value_two: 768px;
$value_three: 991px;
$value_four: 992px;
$value_five: 1199px;
$value_six: 1200px;
$value_seven: 1350px;
$value_eight: 1910px;

@media only #{$media} and ($feature_max : $value_one) {
  .header-inner {
    max-width: 100vw;
    min-width: 99vw;
  }
  .navbar {
    padding: 16px 30px 16px 30px;
    height: 90px;
    .others-option {
      display: flex;
      flex-direction: row;
      .nav-user-progress-container {
        display: flex;
        flex-direction: row;
        margin-right: 66px;
        align-items: center;
        .user-point-wrapper {
          position: relative;
          & > span {
            font-weight: bold;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #ffffff;
            position: absolute;
            left: 50%;
            top: 25%;
          }
        }
        .progress-info-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          & > span {
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 22px;
            color: var(--primaryColor);
            margin-bottom: 4px;
          }
          .progress-bar-wrapper {
            position: relative;
            .done-progress-wrapper {
              position: absolute;
              top: 0;
              left: 0;
            }
          }
        }
      }
    }
    .nav__select {
      margin-bottom: 0;
      cursor: pointer;
      background: var(--orange1);
      position: relative;
      height: 45px;
      padding: 12px 45px 12px 16px;
      border-radius: 10px;
      &.login {
        padding: 0px 0px 0px 0px;
      }
      .nav__select-text {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: white;
      }
      .user-icon-wrapper {
      }
      .nav-dropdown-container {
        position: absolute;
        top: 20px;
        right: 0px;
        width: 50vw;
        background: white;
        border-radius: 20px 0px 20px 20px;
        .info-dropdown-container {
          padding: 28px 15px 18px 15px;
          & > ul > li > hr {
            margin-top: 12px;
            margin-bottom: 12px;
          }
          & > ul > li > span > svg {
            max-width: 22px;
            max-height: 22px;
          }
          .info-dropdown__item {
            font-size: 11px;
            line-height: 13px;
            .noti-badge {
              width: 10px;
              height: 10px;
              border-radius: 5px;
            }
            &.active {
              color: var(--primaryColor);
            }
            &:hover {
              color: var(--primaryColor2);
              transform: translateX(5px);
              transition: transform 0.1s ease-in-out;
            }
          }
        }
        .signin-form-container {
          padding: 45px 26px 30px 26px;
          .signin-form__signin-button {
            position: relative;
            &:hover {
              transform: scale(1.05);
              transition: transform 0.2s ease-in-out;
            }
            & > span {
              position: absolute;
              top: 25%;
              left: 25%;
              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              text-align: center;
              color: #ffffff;
            }
          }
          .signin-form__forgot-password-button {
            font-style: italic;
            text-align: center;
            font-size: 18px;
            line-height: 22px;
            color: #1e3d74;
            margin-bottom: 10px;
            font-weight: 300;
            &:hover {
              text-decoration: underline;
            }
          }
          .signin-form__signup-button {
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #1e3d74;
            margin-top: 30px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .logout-popup-modal-wrapper {
    min-width: 30vw !important;
    min-height: 40vh !important;
    background: transparent;
    border: none;
  }
  .popup-logout-container {
    position: relative;
    .popup-logout-content-wrapper {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -70%);
      user-select: none;
      & > p {
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        color: #ffffff;
      }
    }
    .logout-icon-wrapper {
      position: absolute;
      bottom: -40px;
      left: 50%;
      display: flex;
      flex-direction: row;
      transform: translate(-50%);
      .margin-right {
        margin-right: 40px;
      }
      .popup-logout-button-wrapper:active {
        transform: scale(0.9);
      }
    }
  }
}

@media only #{$media} and ($feature_min : $value_two) and ($feature_max : $value_three) {
}

@media only #{$media} and ($feature_min : $value_four) and ($feature_max : $value_five) {
}
