:root {
  --primaryColor: #fcd536;
  --primaryColor2: #fa8717;
  --primaryColor3: #fee6cf;
  --bannerColor: #cf304a;
  --fontFamily: "GothamRnd", sans-serif;
  --templateColor: #fcd536;
  --templateColor2: #f0b90a;
  --whiteColor: #ffffff;
  --lightColor: #f8f8fc;
  --darkColor: #7c7c80;
  --blackColor: #1e2329;
  --paragraphColor: #818992;
  --transition: 0.5s;
  --darkColor1: #474747;
  --blue: #4a50ff;
  --blueActive: #7d81f4;
  --pink: #d74a96;
  --pinkHover: #f076b8;
  --lightBlue: #6195fd;
  --lightBlueHover: #1763fb;
  --mint: #24b6b1;
  --mintHover: #2c9491;
  --green: #47821c;
  --greenHover: #5bb01c;
  --purpule: #7b70ff;
  --purpleHover: #5145e2;
  --yellow: #ffc736;
  --yellowHover: #fbb911;
  --breadcrumbtextcolor: #d1c4e9;
  --breadcrumbtextcoloractive: #fff;
  --lightOrange: #ffc61a;
  --orange1: #f16c1c;
}
