:root {
  --primaryColor: #E03E0E;
  --primaryColor2: #FA8717;
  --primaryColor3: #FEE6CF;
  --bannerColor: #EA5023;
  --fontFamily: 'Nunito', sans-serif;
  --templateColor: #E03E0E;
  --templateColor2: #FF8A73;
  --whiteColor: #ffffff;
  --blackColor: #000000;
  --paragraphColor: #818992;
  --transition: .5s;
  --darkColor: #474747;

}