$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 767px;
$value_two: 768px;
$value_three: 991px;
$value_four: 992px;
$value_five: 1199px;
$value_six: 1200px;
$value_seven: 1350px;
$value_eight: 1910px;

@media only #{$media} and ($feature_max : $value_one) {
  .no-padding-left {
    padding-left: 0 !important;
  }
  .no-padding-right {
    padding-right: 0 !important;
  }
  .profile__page {
    .inviter-banner {
      padding-top: 60px;
      background: #f16c1c;
      & > img {
        min-height: 200px;
        width: auto;
        object-fit: cover;
      }
    }

    .profile-area {
      padding-left: 5vw;
      padding-right: 5vw;
      margin-top: 26px;
      margin-bottom: 80px;
      .profile-progress-area {
        padding: 15px 10px 15px 10px;
        border-radius: 10px;
        .profile-progress__title {
          font-size: 14px;
          line-height: 17px;
          text-transform: uppercase;
        }
        .profile-progress__point-wrapper {
          position: relative;
          margin-top: 8px;
          & > svg {
            width: 80%;
            margin-left: 10%;
            max-height: 40px;
          }
          .profile-progress__point {
            font-size: 20px;
            line-height: 24px;
          }
        }
        .profile-progress__progress-bar-wrapper {
          width: 100%;
          margin-top: 2px;
          .pending-progress {
            max-height: 15px;
          }
          .profile-progress__done-progress-wrapper {
            border-radius: 20px;
            top: 0px;
            left: 6px;
            .done-progress {
              max-height: 15px;
            }
          }
          .profile-progress__left-icon-wrapper {
            top: -3px;
            left: -10px;
            & > img {
              width: 40px;
              height: 30px;
            }
          }
          .profile-progress__right-icon-wrapper {
            top: -5px;
            right: -10px;
            & > img {
              width: 40px;
              height: 30px;
            }
          }
        }
        .profile-progress__button-wrapper {
          margin-top: 5px;
          position: relative;
          cursor: pointer;
          width: 60%;
          & > svg {
            width: 100%;
            max-height: 35px;
          }
          &:active {
            transform: scale(0.9);
            transition: transform 0.2s ease-in-out;
          }
          .profile-progress__button-text {
            font-size: 11px;
            line-height: 13px;
          }
        }
      }
      .profile-armorial-area {
        border: 2px solid #f2f2f2;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 6px 15px 6px;
        margin-top: 0px;
        .profile-armorial__title {
          font-size: 14px;
          line-height: 17px;
        }
        .profile-armorial__list-wrapper {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin-top: 10px;
          .group-icon-row {
            flex-direction: row;
            .profile-armorial__img1 {
              max-width: 50%;
            }
            .profile-armorial__img2 {
              max-width: 50%;
            }
          }

          .group-icon-column {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 7px;
            .profile-armorial__img3 {
              max-width: 50px;
            }
            .profile-armorial__img4 {
              max-width: 50px;
            }
          }
        }
      }
      .profile-friendlist-area {
        margin-top: 32px;
        .profile-friendlist-container {
          position: relative;
          .profile-friendlist-inner {
            & > h1 {
              font-size: 16px;
              line-height: 19px;
              margin-top: 60px;
              margin-bottom: 20px;
            }
            .friendlist-item-wrapper {
              padding-left: 40px;
              padding-right: 40px;
              align-items: center;
              margin-bottom: 14px;
              height: auto;
              .friendlist-item-rank {
                font-size: 16px;
                line-height: 19px;
                margin-right: 6px;
                margin-bottom: 0px;
              }
              .friendlist-item-avatar {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 3px solid #fff;
                margin-right: 6px;
              }
              .friendlist-item-info {
                display: flex;
                flex-direction: column;
                .friendlist-item-level {
                  font-size: 11px;
                  line-height: 13px;
                }
                .friendlist-item-point {
                  font-size: 11px;
                  line-height: 13px;
                  & > svg {
                    width: 12px;
                    height: 12px;
                    margin-left: 6px;
                  }
                }
                .friendlist-item-name {
                  font-size: 11px;
                  line-height: 13px;
                  margin-top: 4px;
                  margin-bottom: 4px;
                }
              }
            }
          }
        }
      }
      .profile-form-container {
        padding: 140px 10% 100px 10%;
        border-radius: 10px;
        margin-top: 80px;
        .profile-form-avatar-wrapper {
          position: absolute;
          top: -100px;

          .profile-form-edit-avatar-button {
            position: absolute;
            bottom: 50px;
            right: 10px;
            cursor: pointer;
            &:active {
              transform: scale(0.9);
              transition: transform 0.1s ease-in;
            }
          }
        }
        .profile-form-footer {
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
          padding: 12px 25px 12px 25px;
          .copy-btn-title {
            font-size: 11px;
            line-height: 13px;
          }
          .copy-field {
            & > p {
              font-size: 11px;
              line-height: 13px;
            }
            background: #fff;
            border-radius: 10px;
            padding-left: 10px;

            .copy-code-button {
              border-radius: 10px;
              padding: 6px;
              min-width: 40px;
            }
          }
        }
        .profile-form-wrapper {
          position: relative;
          .form-profile-field-label {
            font-size: 11px;
            line-height: 13px;
          }
          .change-password-header-title {
            font-size: 14px;
            line-height: 17px;
            margin-top: 50px;
            margin-bottom: 20px;
          }
          .group-btn-wrapper {
            margin-top: 40px;
          }
          .update-profile-button-wrapper {
            position: relative;
            cursor: pointer;
            & > svg {
              width: 60%;
              margin-left: 20%;
              height: 50px;
            }
            &:active {
              transform: scale(0.9);
              transition: transform 0.1s ease-in;
            }
            .update-profile-button-label {
              font-size: 11px;
              line-height: 13px;
            }
            .update-profile-button-label-red {
              font-size: 11px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
  .form-control {
    font-size: 13px;
    height: 36px;
    border-radius: 10px;
  }
  .select__control {
    font-size: 13px;
  }
  .select__placeholder {
    font-size: 13px;
  }
}

@media only #{$media} and ($feature_min : $value_two) and ($feature_max : $value_three) {
  .no-padding-left {
    padding-left: 0 !important;
  }
  .no-padding-right {
    padding-right: 0 !important;
  }
  .profile__page {
    .inviter-banner {
    }

    .profile-area {
      padding-left: 5vw;
      padding-right: 5vw;
      margin-top: 26px;
      margin-bottom: 80px;
      .profile-progress-area {
        padding: 27px 16px 27px 16px;
        background: #ffc61a;
        border-radius: 25px;
        .profile-progress__title {
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
        }
        .profile-progress__point-wrapper {
          position: relative;
          margin-top: 26px;
          & > svg {
            width: 100%;
            max-height: 70px;
          }
          .profile-progress__point {
            font-size: 25px;
            line-height: 30px;
          }
        }
        .profile-progress__progress-bar-wrapper {
          width: 100%;
          margin-top: 20px;
          .pending-progress {
            max-height: 15px;
          }
          .profile-progress__done-progress-wrapper {
            border-radius: 20px;
            top: 0px;
            left: 6px;
            .done-progress {
              max-height: 15px;
            }
          }
          .profile-progress__left-icon-wrapper {
            top: -3px;
            left: -10px;
            & > img {
              width: 40px;
              height: 30px;
            }
          }
          .profile-progress__right-icon-wrapper {
            top: -5px;
            right: -10px;
            & > img {
              width: 40px;
              height: 30px;
            }
          }
        }
        .profile-progress__button-wrapper {
          margin-top: 20px;
          position: relative;
          cursor: pointer;
          width: 60%;
          & > svg {
            width: 100%;
            max-height: 35px;
          }
          &:active {
            transform: scale(0.9);
            transition: transform 0.2s ease-in-out;
          }
          .profile-progress__button-text {
            font-size: 11px;
            line-height: 13px;
          }
        }
      }
      .profile-armorial-area {
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 6px 15px 6px;
        .profile-armorial__title {
          font-size: 14px;
          line-height: 17px;
        }
        .profile-armorial__list-wrapper {
          display: flex;
          flex-direction: row;

          .group-icon-row {
            flex-direction: row;
            .profile-armorial__img1 {
              max-width: 50%;
            }
            .profile-armorial__img2 {
              max-width: 50%;
            }
          }

          .group-icon-column {
            display: flex;
            flex-direction: row;
            .profile-armorial__img3 {
              max-width: 50%;
            }
            .profile-armorial__img4 {
              max-width: 50%;
            }
          }
        }
      }
      .profile-friendlist-area {
        margin-top: 32px;
        .profile-friendlist-container {
          position: relative;
          .profile-friendlist-inner {
            & > h1 {
              font-size: 20px;
              line-height: 24px;
              margin-top: 60px;
              margin-bottom: 20px;
            }
            .friendlist-item-wrapper {
              padding-left: 40px;
              padding-right: 40px;
              align-items: center;
              margin-bottom: 14px;
              height: auto;
              .friendlist-item-rank {
                font-size: 16px;
                line-height: 19px;
                margin-right: 6px;
                margin-bottom: 0px;
              }
              .friendlist-item-avatar {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 3px solid #fff;
                margin-right: 6px;
              }
              .friendlist-item-info {
                display: flex;
                flex-direction: column;
                .friendlist-item-level {
                  font-size: 14px;
                  line-height: 17px;
                }
                .friendlist-item-point {
                  font-size: 14px;
                  line-height: 17px;
                  & > svg {
                    width: 12px;
                    height: 12px;
                    margin-left: 6px;
                  }
                }
                .friendlist-item-name {
                  font-size: 14px;
                  line-height: 17px;
                  margin-top: 4px;
                  margin-bottom: 4px;
                }
              }
            }
          }
        }
      }
      .profile-form-container {
        padding: 150px 10% 100px 10%;
        border-radius: 25px;
        margin-top: 80px;
        .profile-form-avatar-wrapper {
          position: absolute;
          top: -100px;

          .profile-form-edit-avatar-button {
            position: absolute;
            bottom: 50px;
            right: 10px;
            cursor: pointer;
            &:active {
              transform: scale(0.9);
              transition: transform 0.1s ease-in;
            }
          }
        }
        .profile-form-footer {
          border-bottom-right-radius: 25px;
          border-bottom-left-radius: 25px;
          padding: 12px 25px 12px 25px;
          .copy-btn-title {
            font-size: 11px;
            line-height: 13px;
          }
          .copy-field {
            & > p {
              font-size: 11px;
              line-height: 13px;
            }
            background: #fff;
            border-radius: 10px;
            padding-left: 10px;

            .copy-code-button {
              border-radius: 10px;
              padding: 6px;
              min-width: 40px;
            }
          }
        }
        .profile-form-wrapper {
          position: relative;
          .form-profile-field-label {
            font-size: 11px;
            line-height: 13px;
          }
          .change-password-header-title {
            font-size: 14px;
            line-height: 17px;
            margin-top: 50px;
            margin-bottom: 20px;
          }
          .group-btn-wrapper {
            margin-top: 40px;
          }
          .update-profile-button-wrapper {
            position: relative;
            cursor: pointer;
            & > svg {
              width: 60%;
              margin-left: 20%;
              height: 50px;
            }
            &:active {
              transform: scale(0.9);
              transition: transform 0.1s ease-in;
            }
            .update-profile-button-label {
              font-size: 11px;
              line-height: 13px;
            }
            .update-profile-button-label-red {
              font-size: 11px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
  .form-control {
    font-size: 14px;
    height: 45px;
    border-radius: 15px;
  }
  .select__control {
    font-size: 14px;
  }
  .select__placeholder {
    font-size: 14px;
  }
}

@media only #{$media} and ($feature_min : $value_four) and ($feature_max : $value_five) {
  .no-padding-left {
    padding-left: 0 !important;
  }
  .no-padding-right {
    padding-right: 0 !important;
  }
  .profile__page {
    .inviter-banner {
      background: #f16c1c;
      & > img {
        min-height: 200px;
        width: auto;
        object-fit: cover;
      }
    }

    .profile-area {
      padding-left: 5vw;
      padding-right: 5vw;
      margin-top: 46px;
      margin-bottom: 80px;
      .profile-progress-area {
        padding: 27px 16px 27px 16px;
        background: #ffc61a;
        border-radius: 25px;
        .profile-progress__title {
          font-size: 20px;
          line-height: 24px;
          text-transform: uppercase;
        }
        .profile-progress__point-wrapper {
          position: relative;
          margin-top: 26px;
          & > svg {
            width: 100%;
            max-height: 70px;
          }
          .profile-progress__point {
            font-size: 25px;
            line-height: 30px;
          }
        }
        .profile-progress__progress-bar-wrapper {
          width: 100%;
          margin-top: 20px;
          .pending-progress {
            max-height: 15px;
          }
          .profile-progress__done-progress-wrapper {
            border-radius: 20px;
            top: 0px;
            left: 6px;
            .done-progress {
              max-height: 15px;
            }
          }
          .profile-progress__left-icon-wrapper {
            top: -3px;
            left: -10px;
            & > img {
              width: 40px;
              height: 30px;
            }
          }
          .profile-progress__right-icon-wrapper {
            top: -5px;
            right: -10px;
            & > img {
              width: 40px;
              height: 30px;
            }
          }
        }
        .profile-progress__button-wrapper {
          margin-top: 20px;
          position: relative;
          cursor: pointer;
          width: 60%;
          & > svg {
            width: 100%;
            max-height: 35px;
          }
          &:active {
            transform: scale(0.9);
            transition: transform 0.2s ease-in-out;
          }
          .profile-progress__button-text {
            font-size: 11px;
            line-height: 13px;
          }
        }
      }
      .profile-armorial-area {
        border: 2px solid #f2f2f2;
        border-radius: 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 6px 15px 6px;
        .profile-armorial__title {
          font-size: 14px;
          line-height: 17px;
        }
        .profile-armorial__list-wrapper {
          display: flex;
          flex-direction: row;

          .group-icon-row {
            flex-direction: row;
            .profile-armorial__img1 {
              max-width: 50%;
            }
            .profile-armorial__img2 {
              max-width: 50%;
            }
          }

          .group-icon-column {
            display: flex;
            flex-direction: row;
            .profile-armorial__img3 {
              max-width: 50%;
            }
            .profile-armorial__img4 {
              max-width: 50%;
            }
          }
        }
      }
      .profile-friendlist-area {
        margin-top: 32px;
        .profile-friendlist-container {
          position: relative;
          .profile-friendlist-inner {
            & > h1 {
              font-size: 20px;
              line-height: 24px;
              margin-top: 60px;
              margin-bottom: 20px;
            }
            .friendlist-item-wrapper {
              padding-left: 40px;
              padding-right: 40px;
              align-items: center;
              margin-bottom: 14px;
              height: auto;
              .friendlist-item-rank {
                font-size: 16px;
                line-height: 19px;
                margin-right: 6px;
                margin-bottom: 0px;
              }
              .friendlist-item-avatar {
                width: 48px;
                height: 48px;
                border-radius: 50%;
                border: 3px solid #fff;
                margin-right: 6px;
              }
              .friendlist-item-info {
                display: flex;
                flex-direction: column;
                .friendlist-item-level {
                  font-size: 14px;
                  line-height: 17px;
                }
                .friendlist-item-point {
                  font-size: 14px;
                  line-height: 17px;
                  & > svg {
                    width: 12px;
                    height: 12px;
                    margin-left: 6px;
                  }
                }
                .friendlist-item-name {
                  font-size: 14px;
                  line-height: 17px;
                  margin-top: 4px;
                  margin-bottom: 4px;
                }
              }
            }
          }
        }
      }
      .profile-form-container {
        padding: 150px 10% 100px 10%;
        border-radius: 25px;
        margin-top: 80px;
        .profile-form-avatar-wrapper {
          position: absolute;
          top: -100px;

          .profile-form-edit-avatar-button {
            position: absolute;
            bottom: 50px;
            right: 10px;
            cursor: pointer;
            &:active {
              transform: scale(0.9);
              transition: transform 0.1s ease-in;
            }
          }
        }
        .profile-form-footer {
          border-bottom-right-radius: 25px;
          border-bottom-left-radius: 25px;
          padding: 12px 25px 12px 25px;
          .copy-btn-title {
            font-size: 11px;
            line-height: 13px;
          }
          .copy-field {
            & > p {
              font-size: 11px;
              line-height: 13px;
            }
            background: #fff;
            border-radius: 10px;
            padding-left: 10px;

            .copy-code-button {
              border-radius: 10px;
              padding: 6px;
              min-width: 40px;
            }
          }
        }
        .profile-form-wrapper {
          position: relative;
          .form-profile-field-label {
            font-size: 11px;
            line-height: 13px;
          }
          .change-password-header-title {
            font-size: 14px;
            line-height: 17px;
            margin-top: 50px;
            margin-bottom: 20px;
          }
          .group-btn-wrapper {
            margin-top: 40px;
          }
          .update-profile-button-wrapper {
            position: relative;
            cursor: pointer;
            & > svg {
              width: 60%;
              margin-left: 20%;
              height: 50px;
            }
            &:active {
              transform: scale(0.9);
              transition: transform 0.1s ease-in;
            }
            .update-profile-button-label {
              font-size: 11px;
              line-height: 13px;
            }
            .update-profile-button-label-red {
              font-size: 11px;
              line-height: 13px;
            }
          }
        }
      }
    }
  }
  .form-control {
    font-size: 14px;
    height: 45px;
    border-radius: 15px;
  }
  .select__control {
    font-size: 14px;
  }
  .select__placeholder {
    font-size: 14px;
  }
}
