.popup-newbie-container {
  position: relative;
  .popup-newbie-content-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -70%);
    user-select: none;
    & > p {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      text-align: center;
      color: #ffffff;
    }
  }
  .newbie-icon-wrapper {
    position: absolute;
    bottom: -40px;
    left: 50%;
    display: flex;
    flex-direction: row;
    transform: translate(-50%);
    .margin-right {
      margin-right: 40px;
    }
    .popup-newbie-button-wrapper:active {
      transform: scale(0.9);
    }
  }
}
