.form-label {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #7c7c80;
  margin-bottom: 8px;
}
.form-field-rounded {
  border-radius: 20px;
  width: 100%;
}
.field-error {
  position: absolute;
  font-size: 13px;
  color: red;
}
