$media: screen;
$feature_min: min-width;
$feature_max: max-width;
$value_one: 767px;
$value_two: 768px;
$value_three: 991px;
$value_four: 992px;
$value_five: 1199px;
$value_six: 1200px;
$value_seven: 1350px;
$value_eight: 1910px;

@media only #{$media} and ($feature_max : $value_one) {
  .popup-logout-button-wrapper {
    cursor: pointer;
    &:hover {
      transform: scale(1.05);
      transition: transform 0.1s ease-in-out;
    }
    &:active {
      transform: scale(0.9);
      transition: transform 0.1s ease-in;
    }
  }
  .invite-friend-button {
    & > svg {
      max-width: 45px;
      max-height: 45px;
    }
  }
  .footer-area .copyright-area ul {
    margin-top: 10px;
  }
  .container {
    padding: 0;
  }
  .crake-nav {
    padding: 0;
    background-color: #fea005;
    border-bottom: none;
    width: 100vw;
  }
  .navbar .nav__select .user-icon-wrapper {
    top: 15px;
  }
  .copyright-area {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 26px 10px 26px;
  }
  .facebook-footer {
    & > svg {
      max-width: 30px;
      max-height: 30px;
    }
  }
  .youtube-footer {
    & > svg {
      max-width: 30px;
      max-height: 30px;
    }
  }
  .titktok-footer {
    & > svg {
      max-width: 30px;
      max-height: 30px;
    }
  }
  .stnhd-footer {
    & > img {
      width: 46px;
      height: auto;
    }
    margin-left: 10px;
  }
  .ttl-footer {
    & > svg {
      max-width: 46px;
      max-height: 40px;
    }
  }
  .left-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .company-name {
    font-size: 9px;
    line-height: 11px;
    margin: 0px;
    width: 30vw;
    text-align: left;
  }
  .crake-nav nav .navbar-brand {
    & > img {
      width: 200px;
      height: auto;
      margin-top: -40px;
      margin-left: -40px;
      position: relative;
      top: auto;
      left: auto;
    }
  }
}

@media only #{$media} and ($feature_min : $value_two) and ($feature_max : $value_three) {
}

@media only #{$media} and ($feature_min : $value_four) and ($feature_max : $value_five) {
}
